In [38]:
import pandas as pd
import numpy as np
import glob
myPath="/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/*csv"
files=glob.glob(myPath)
li=[]
for file in files:
    li.append(pd.read_csv(file))
    print(file)
combined=pd.concat(li,ignore_index=True)
combined.to_csv("combined.csv")

/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_December_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_February_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_March_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_August_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_May_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_November_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_October_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_January_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_September_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_July_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_June_2019.csv

In [39]:
import pandas as pd
import numpy as np
import glob

In [40]:
import pandas as pd
import numpy as np
import glob
myPath="/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/*csv"
files=glob.glob(myPath)
li=[]
for file in files:
    li.append(pd.read_csv(file))
    print(file)
combined=pd.concat(li,ignore_index=True)
combined.to_csv("combined.csv")

/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_December_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_February_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_March_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_August_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_May_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_November_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_October_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_January_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_September_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_July_2019.csv
/Users/mac/Downloads/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_June_2019.csv

In [41]:
combined.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [42]:
combined.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [43]:
combined.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [44]:
copied=combined

In [45]:
copied[["Order ID","Quantity Ordered","Price Each"]]
=copied[["Order ID","Quantity Ordered","Price Each"]].apply(pd.to_numeric,errors="coerce")

SyntaxError: invalid syntax (<ipython-input-45-ebe4f22c4afd>, line 2)

In [ ]:
copied.head(5)

In [ ]:
nan_cols=copied[copied.isna().any(axis=1)]

In [ ]:
nan_cols = copied[copied.isna().any(axis=1)]

In [ ]:
nan_cols

In [ ]:
copied.dropna(how="all",axis=0,inplace=True)
copied.reset_index(drop=True,inplace=True)
copied.head(5)

In [ ]:
copied.describe()

In [ ]:
copied["Amount Sold"]=copied["Quantity Ordered"]*combined["Price Each"]
copied.head(5)

In [ ]:
copied['Order Date']=pd.to_datetime(copied['Order Date'])

In [ ]:
copied["Month"]=copied"Order Date"].str[0:2]

In [ ]:
copied["Month"]=copied"Order Date"].str[0:2]

In [ ]:
copied["Month"]=copied["Order Date"].str[0:2]

In [ ]:
uniqueValues=copied["Month"].unique()
print(uniqueValues)

In [ ]:
copied=copied[copied.Month!="Or"]

In [ ]:
uniqueValues=copied["Month"].unique()
print(uniqueValues)

In [ ]:
groupedData=copied.groupby("Month").sum().sort_values("Amount Sold",ascending=False)
groupedData

In [ ]:
import matplotlib.pyplot as plt
plt.bar(groupedData.index,groupedData["Amount Sold"])
plt.xlabel("Months")
plt.xticks(groupedData.index,rotation="vertical")
plt.ylabel("Sales in USD($)")
plt.show()